body {
  background-image: url('https://i.pinimg.com/564x/d9/86/d8/d986d886d18171c4c68e57a3ac265668.jpg');
 
  background-repeat: no-repeat;
  background-size: cover;


}

.heading {
  color: white;
  text-align: center; 
  font-family: cursive , sans-serif;   
}